<!-- templates/decks.html -->
{% extends "base.html" %}
{% block page_title %}Your Decks{% endblock %}
{% block content %}
    <div class="dashboard-grid">
        {% if decks %}
            {% for deck in decks %}
                <div class="card stat-card" style="padding-bottom: 50px; position: relative;">
                    <h3>{{ deck.name }}</h3>
                    <div style="">
                        <a href="/study/{{ deck.id }}" class="btn btn-primary">Study</a>
                        <a href="/progress/{{ deck.id }}" class="btn btn-secondary">Progress</a>
                        <a href="/settings/{{ deck.id }}" class="btn btn-secondary" style="background-color: #7f8c8d;">Settings</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
             <div class="card full-width-card">
                <h3>No decks found!</h3>
                <p>You haven't created any study decks yet. Get started by adding a new one.</p>
                <a href="/add_deck" class="btn btn-primary" style="margin-top: 15px;">Add Your First Deck</a>
            </div>
        {% endif %}
    </div>
{% endblock %}